# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## IDEA
/.idea/**/*.*
/.idea/dataSources/
/.idea/$CACHE_FILE$
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/dictionaries/*.xml
!/.idea/go.xml

## Task checksums
/.task/

# Dependency directories (remove the comment below to include it)
vendor/
go.sum

## log monitoring software
/.snaketail.xml
*.log
